<!-- Azrael Finished Search On 12/16/2024 -->
<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Search Page</title>
      {{ bootstrap.load_css() }}
  </head>
<body>
      <div class="card mt-4">
        <div class="card-body">
          <form method="POST" action="/postsearch">
            {{form.csrf_token }}
            {{form.address.label}} 
            {{form.address(size=32) }}
            {{form.range.label}} 
            {{form.range(size=12) }}
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>
    <br>
    <p>{{ msg }}</p>
</body>
</html>